# Example environment variables for local development
POSTGRES_USER=sa_user
POSTGRES_PASSWORD=sa_pass
POSTGRES_DB=sa_db
DATABASE_URL=postgresql://sa_user:sa_pass@postgres:5432/sa_db
REDIS_URL=redis://redis:6379/0
FX_CACHE_TTL=3600

# Example environment variables for local development
POSTGRES_USER=sa_user
POSTGRES_PASSWORD=sa_pass
POSTGRES_DB=sa_db
DATABASE_URL=postgresql://sa_user:sa_pass@postgres:5432/sa_db
REDIS_URL=redis://redis:6379/0
FX_CACHE_TTL=3600

# Catalog Service
CATALOG_DB_NAME=catalog_db
CATALOG_DB_USER=catalog_user
CATALOG_DB_PASSWORD=catalog_password
CATALOG_GRPC_PORT=50055
CATALOG_DATABASE_URL=postgresql://catalog_user:catalog_password@catalog-db:5432/catalog_db
CATALOG_GRPC_URL=catalog-service:50055
ARCHIVE_METADATA_BASE_URL=https://archive.org/metadata
ARCHIVE_DOWNLOAD_BASE_URL=https://archive.org/download
ARCHIVE_IMAGE_BASE_URL=https://archive.org/services/img
ARCHIVE_MOVIE_TARGET=5
ARCHIVE_SERIES_TARGET=10
ARCHIVE_SERIES_EPISODE_LIMIT=15
ARCHIVE_MOVIE_IDENTIFIERS=charlie-chaplin-the-champion-1915,charliechaplin_theimmigrant_20190819,night_of_the_living_dead,TheGeneral,Nosferatu1922
ARCHIVE_SERIES_IDENTIFIER=BarbecueForTwo1960
ARCHIVE_SERIES_IDENTIFIERS=BarbecueForTwo1960,Popeye_forPresident,popeye-meets-ali-baba-1937,PopeyePopeyeTheSailorMeetsSindbadTheSailor1936,PopeyeAncientFistory,popeye-private-eye-popeye-1954,popeye-little-sweepea-1936,popeye-greek-mirthology-1954,popeye-i-dont-scare-1956,popeye-spree-lunch-1957
ARCHIVE_SERIES_EPISODE_IDENTIFIERS=
ARCHIVE_SERIES_TITLE=Serie Internet Archive
ARCHIVE_ALLOW_FALLBACK=false

# Engagement Service
ENGAGEMENT_DB_NAME=engagement_db
ENGAGEMENT_DB_USER=engagement_user
ENGAGEMENT_DB_PASSWORD=engagement_password
ENGAGEMENT_GRPC_PORT=50056
ENGAGEMENT_DATABASE_URL=postgresql://engagement_user:engagement_password@engagement-db:5432/engagement_db
ENGAGEMENT_GRPC_URL=engagement-service:50056

# PAYMENT Service
PAYMENT_GRPC_PORT=50057
PAYMENT_GRPC_URL=payment-gateway-service:50057
PAYMENT_PROVIDER_NAME=QuetxalPay Sandbox
PAYMENT_APPROVAL_DELAY_MS=500