CATALOG_GRPC_PORT=50055
DATABASE_URL=postgresql://catalog_user:catalog_password@catalog-db:5432/catalog_db

# Internet Archive provider. No API key required.
ARCHIVE_METADATA_BASE_URL=https://archive.org/metadata
ARCHIVE_DOWNLOAD_BASE_URL=https://archive.org/download
ARCHIVE_MOVIE_IDENTIFIERS=charlie-chaplin-the-champion-1915,charliechaplin_theimmigrant_20190819
ARCHIVE_SERIES_IDENTIFIER=BarbecueForTwo1960

ARCHIVE_SERIES_TITLE=Serie Internet Archive
ARCHIVE_SERIES_EPISODE_LIMIT=5
ARCHIVE_ALLOW_FALLBACK=true
